name: Git Actions Demo2

on: [push]

jobs:
  actions_demo:
    runs-on: ubuntu-latest  
    steps:
    - run: git clone https://github.com/M-Wr/Git_demo_2
    - run: chmod +x script.sh 
    - run: chmod +x script.py 
    - run: ./script.sh
    - run: ./script.py
