name: Git Actions Demo2

on: [push]

jobs:
  actions_demo:
    runs-on: ubuntu-latest  
    steps:
    - uses: actions/checkout@v3 # Checking out and using the repo assigned to this workflow
    - run: git clone https://github.com/M-Wr/Git_demo_2
    - run: chmod +x Script.sh 
    - run: chmod +x script.py 
    - run: ./script.sh
    - run: ./script.py
